* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: aliceblue;
  font-family: "Montserrat", sans-serif;
}
.dashboard {
  padding: 0px 15px;
  margin: 0 auto;
}
/*-Navigation-*/
.dashboard .navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 10px;
}
.dashboard .navigation img.logo {
  width: 36px;
  height: 36px;
  border-radius: 16px;
}
.dashboard .navigation img.user {
  width: 36px;
  height: 36px;
  border-radius: 16px;
}
.dashboard .navigation div span {
  font-size: 36px;
  padding: 16px;
  color: #727272;
}
.dashboard .navigation div span:hover {
  opacity: 0.2;
}

/*--Main--*/
/*Search */
.dashboard .main .search form {
  margin-top: 60px;
  position: relative;
}
.dashboard .main .search form input {
  width: 100%;
  font-size: 16px;
  padding: 10px 10px 10px 60px;
  background: rgba(0 0 0 /0);
  border: 1px solid #dadadada;
  border-radius: 5px;
}

.dashboard .main .search form i {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #727272;
}
.dashboard .main .search form span {
  right: 15px;
  position: absolute;
  top: 10px;
  color: #727272;
}
.dashboard .main .search form span:nth-child(1) {
  padding-right: 20px;
}
/*--TITLE-*/

.dashboard .main .title {
  font-size: 30px;
  margin-top: 30px;
}
.dashboard .main label {
  margin-top: 20px;
  font-size: 20px;
  margin-right: 20px;
}

.dashboard .main select {
  margin-top: 20px;
  border: none;
  font-size: 15px;
  background-color: transparent;
}
.dashboard .main .phases-list .individual-phases h2 {
  line-height: 0px;
}
.dashboard .main .phases-list .individual-phases ul {
  color: #727272;
  list-style-type: none;
  margin-left: 0;
}
.dashboard .main .phases-list .individual-phases {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 0px 10px 10px 0px;
}
.dashboard .main .phases-list .individual-phases .heading {
  padding-left: 70px;
}

.dashboard .main .phases-list .individual-phases .category {
  width: 30px;
  height: 30px;
  background-color: aqua;
  position: absolute;
  top: 50px;
  border-radius: 0px 10px 10px 0px;
}

.dashboard .main .phases-list .individual-phases div.heading ul.activity {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  text-indent: 0;
}

.dashboard .main .phases-list .individual-phases span {
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.dashboard .main .phases-list .individual-phases span:hover {
  opacity: 0.1;
}
.dashboard .secondary {
  background-color: white;
}
.dashboard .secondary .chart .complete {
  text-align: center;
}

.dashboard .secondary .list-beginning.recent-project {
  background-color: transparent;
  margin-top: 30px;
  position: relative;
}
.dashboard .secondary .recent-project .title {
  padding-left: 30px;
  font-size: 10px;
}
.dashboard .secondary .list-beginning .recent-project .listing {
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.dashboard .secondary .list-beginning .recent-project .listing span {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.dashboard .secondary .list-beginning .recent-project .circle {
  width: 16px;
  height: 16px;
  background-color: green;
  border-radius: 16px;
  position: absolute;
  top: 50px;
  left: 0px;
}
@media only screen and (min-width: 768px) {
  .dashboard .phases-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .dashboard .phases-list .individual-phases {
    width: 45%;
    margin: 0 auto;
  }
  .ashboard .secondary {
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 1024px) {
  .dashboard .phases-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .dashboard .phases-list .individual-phases {
    width: 30%;
    margin: 0 auto;
  }
  .dashboard .main {
    width: 60%;
    margin-right: 0px;
    margin-left: 90px;
  }
  section.secondary {
    padding-top: 0px;
    width: 27%;
    position: fixed;
    right: 0px;
    top: 100px;
    background-color: transparent;
  }
}
